

.MandatoryValidatorStyle{
color: #e50505;
/*color:#42f450 !important;*/
font-family: Trebuchet MS;
font-size: 20px;
font-style:normal;
}

.reportprint {
background-image: url("images/printer.png");
background-color: transparent;
background-repeat:no-repeat;
width:22px;
cursor:pointer; 
border:none;
cursor:pointer; 
}



        /*.MainButtonStyle[type=submit][disabled=disabled],
        button[disabled=disabled] {
            background-color: #BFBFBF !important;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #969696), color-stop(100, rgb(224, 224, 224)));
           background-image: -ms-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -moz-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -o-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -webkit-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: linear-gradient(to bottom, #969696 0%, rgb(224, 224, 224) 100%);
			box-shadow: 0 4px rgba(147, 149, 150, 0.69);
            border: none;
			cursor:pointer;
        }*/
		.PromptButtonStyle[type=submit][disabled=disabled],
        button[disabled=disabled] {
            background-color: #BFBFBF !important;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #969696), color-stop(100, rgb(224, 224, 224)));
           background-image: -ms-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -moz-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -o-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -webkit-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: linear-gradient(to bottom, #969696 0%, rgb(224, 224, 224) 100%);
			box-shadow: 0 4px rgba(147, 149, 150, 0.69);
            border: none;
			cursor:pointer;
        }

#txtCurrentPage, #txtLastPage, #txtTotalPages{
    text-align:center;
}

.GridCellDiv a{
	text-decoration:underline !important;
}

input[type="text"][disabled] {
    background-color: rgba(170, 170, 170, 0.19);
    border: solid 1px #7F9DB9;
    opacity:0.7;
}
input[type="textarea"][disabled] {
    background-color: rgba(170, 170, 170, 0.19);
    border: solid 1px #7F9DB9;
    opacity:0.7;
}
 fieldset{
          padding-top:6.6px !important;
          padding-bottom:13px !important;
          padding-left:11px !important;
          padding-right:11px !important;
          border:1px solid #7f9db9 !important;
              
      }
 fieldset legend
{
color:#01539d !important;
/*V2024*/
display: inherit;
    width:auto;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px 2px 0px 2px;
/*V2024*/
}

.InactiveGridRowStyle{
    background-color:#BFBFBF;
}

.gridster ul {
    background-color: #caebf2 !important;
}

.slides {background: rgb(23, 60, 93);list-style: none;padding: 0;margin: 0;position: relative;height: 401px;width: 100%;overflow: hidden;color: #D2ECF1;}
#layer
{
    background-color:#D2ECF1 !important;
}
#right-sidebar .sidebar-inner
{
    background:rgb(30, 81, 125) !important;
}
#sideNav
{
    background:none !important;
}
#content .content-wrapper #page-heading #crumb li a {
  padding-right: 5px;
  color: #1e8bc3;
  font-weight: 600;
}
.option-buttons-inner .btn-default{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	cursor: pointer;
	 position: relative;
   -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    box-shadow: 0 4px #8C908F;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
    background-color:#24a8ac;
    border-color:#4FCCD0;
    color:#98FCFF;
  
}

.option-buttons-inner .btn-default:hover {

	/*background: #f2f1ef;*/
    background: #98FCFF;
    color:#1E517D;
	/*color:#454D56;*/
    border: 1px solid #24a8ac;
}

.option-buttons-inner .btn-default:active {
	top: 2px;
}



/*added new*/

body {
  overflow-x: auto;
  min-height: 100%;
  background: #ffffff; 
  color: #030303;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  position: relative;
}
a {
	color: #248fbd;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}
.role_highlight
{
    background-color:#173C5D !important;
}
.bu_highlight
{
  background-color:#173C5D !important;
}

.slimScrollDiv
{
  /* height:95% !important;
	margin-top:41px;
     padding-bottom:100px;*/
} 
.tabs-style-topline nav li.tab-current {
	border-top-color: #248fbd;
	border-bottom: none;
border-top-width:3px;
padding:4px 0px;
background:none !important;
}
.tabs-style-topline nav li.tab-current a {
	background: none;
	/*box-shadow: inset 0 3px 0 #248fbd;*/
	color: #fff;
}

#tab1,#tab2{
    background-color:#2c3e50;
}

#header {
  height: 52px;
  background: #0682B7;
  box-shadow: 0 4px 0 #0682B7;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 0;
}
#header .navbar {
  height: 52px;
  margin-bottom: 0;
  padding-right: 20px;
  border-radius: 0;
  border: none;
  background: #248fbd;
}
#content .content-wrapper #page-heading {
   padding: 10px 15px;
  position: relative;
  margin: 0;
  height: 48px;
  background-color: #D2ECF1;
  border-bottom: 1px solid #ffffff;
}
#sidebar.collapse-sidebar #sideNav li.hover-li a {
  width: 255px;
  background-color: #3e5771;
  color: #ecf0f1;
}
#sidebar.collapse-sidebar #sideNav li.hover-li a i {
  color: #5AC8FB;
}
#sidebar.collapse-sidebar #sideNav li.hover-li ul.sub li a {
  width: 201px;
  padding: 3px 0px !important;
  border-radius: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: none;
  font-size: 12px;
}

#sidebar:after {
    content: "";
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 width: 255px;
 background: #2c3e50;
 border-right: 1px solid #ffffff;
 z-index: -1;
 background: radial-gradient(transparent 37%, #163856 35%, #163754 70%, transparent 70%) 4px 4px,    radial-gradient(#113452 30%, transparent 32%) 0 0,    radial-gradient(rgba(255,255,255,.1) 30%, transparent 40%) 0 1px;
 background-color: #133450;
 background-size:16px 16px,8px 8px,8px 8px;


 /*content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
  background: #2c3e50;
  border-right: 1px solid #ffffff;
  z-index: -1;*/
  /*/*background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, #1E517D 25%, transparent 25%, transparent 75%, #1E517D 75%, #1E517D ), linear-gradient(45deg, #1E517D 25%, transparent 25%, transparent 75%, #1E517D 75%, #1E517D ), linear-gradient(to bottom, rgb(15, 114, 156), rgb(29, 108, 142));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;*/*/
   /*background: radial-gradient(transparent 37%, #1E517D 35%, #1E517D 70%, transparent 70%) 4px 4px,    radial-gradient(#1E517D 30%, transparent 32%) 0 0,    radial-gradient(rgba(255,255,255,.1) 30%, transparent 40%) 0 1px;
 background-color: #173E61;
 background-size:16px 16px,8px 8px,8px 8px;*/
 
}

#sidebar .sidebar-inner .toggle-sidebar {
  float: left;
  width: 34px;
  height: 34px;
  background-color: #e7e5e1;
  border-radius: 50%;
  position: absolute;
  right: -16px;
  top: 10px;
  box-shadow: 0px 0px 1px #e7e5e1;
  z-index: 999;
}
#sidebar .sidebar-inner .toggle-sidebar > a {
  margin: 4px;
  border-radius: 50%;
  background: #d2d7d3;
  width: 26px;
  height: 26px;
  display: inline-block;
}
#sidebar .sidebar-inner .toggle-sidebar > a > i {
  font-size: 20px;
  padding-top: 0;
  padding-left: 3px;
  color: #ffffff;
  margin-top: -4px;
}
#sidebar .sidebar-inner .option-buttons {
  margin: 0 1px 0 0;
  padding: 14px 0 10px;
  border-bottom: 2px solid #166F95;
  position: relative;
  text-align: center;
  background: #1E517D;
}
#sidebar .sidebar-inner .sidebar-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #ecf0f1;
  padding: 0 15px;
 position:fixed;
  top:107px;
  z-index:100; 
}
#sidebar .sidebar-inner ul#sideNav li a {
  background-color: #173C5D;
  color: #ecf0f1;
  position: relative;
  padding: 2px 10px;
  display: inline-block;
  width: 100%; 
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


#right-sidebar .sidebar-inner ul#sideNav li a {
  background-color: #1E517D;
  color: #ecf0f1;
  position: relative;
  padding: 2px 10px;
  display: inline-block;
  width: 100%; 
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#right-sidebar .sidebar-inner ul#sideNav li a:hover {
  color: #ffffff;
  background-color: #236298 !important;
}
#right-sidebar .sidebar-inner ul#sideNav li a:hover i {
  color: #5AC8FB;
}

#sidebar .sidebar-inner ul#sideNav li a.active,
#sidebar .sidebar-inner ul#sideNav li a.active:hover {
  color: #ffffff;
  background-color: #236298 !important;
}
#sidebar .sidebar-inner ul#sideNav li a.active i,
#sidebar .sidebar-inner ul#sideNav li a.active:hover i {
  color: #ecf0f1;
}
#sidebar .sidebar-inner ul#sideNav li a.active .label,
#sidebar .sidebar-inner ul#sideNav li a.active:hover .label {
  background: #236298;
}
#sidebar .sidebar-inner ul#sideNav li a .label {
  float: right;
  background: #5AC8FB;
  color: #ffffff;
  font-size: 11px;
  margin-top: 3px;
  padding: 5px 6px;
}
#sidebar .sidebar-inner ul#sideNav li a:hover,
#sidebar .sidebar-inner ul#sideNav li a.active-state {
  color: #ffffff;
  background-color: #236298;
 
}
#sidebar .sidebar-inner ul#sideNav li a:hover i,
#sidebar .sidebar-inner ul#sideNav li a.active-state i {
  color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a:hover {
  background-color: #236298;
  color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a.active,
#sidebar .sidebar-inner ul#sideNav li ul.sub li a.active:hover {
  color: #ffffff;
  background-color: #5AC8FB;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu {
  background-color: #1E517D;
  border-radius: 2px;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a {
  background-color: #1E517D;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a:hover {
  background-color: #236298 !important;
}
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a.active,
#sidebar .sidebar-inner ul#sideNav li.highlight-menu a.active:hover {
  background-color: #5AC8FB !important;
}
/* selected menu*/
a.expand
{
     background-color: rgba(48, 107, 158, 0.44) !important;
  color: #98FCFF !important;
}

<!--bootstrap overwrite -->

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #0682B7 !important;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #ffffff;
  background-color: #0682B7 !important;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #1bbc9b;
  border-bottom: 1px solid #0682B7 !important;
  border-radius: 5px 5px 0 0;
}

.btn-teal.disabled,
.btn-teal[disabled],
fieldset[disabled] .btn-teal,
.btn-teal.disabled:hover,
.btn-teal[disabled]:hover,
fieldset[disabled] .btn-teal:hover,
.btn-teal.disabled:focus,
.btn-teal[disabled]:focus,
fieldset[disabled] .btn-teal:focus,
.btn-teal.disabled:active,
.btn-teal[disabled]:active,
fieldset[disabled] .btn-teal:active,
.btn-teal.disabled.active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal.active {
  background-color: #1bbc9b;
  border-color: #0682B7 !important;
}

.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active {
  background-color: #2ae0bb;
  border-color: #0682B7 !important;
  box-shadow: 0 2px 0 #1ed2ad;
}
.btn-teal.disabled,
.btn-teal[disabled] {
  box-shadow: 0 2px 0 #18a689;
}
.btn-teal.btn-alt {
  box-shadow: none;
  color: #1bbc9b;
  background-color: transparent;
  border-color: #0682B7 !important;
  border-width: 2px;
}

.btn-teal.btn-alt.disabled,
.btn-teal.btn-alt[disabled],
fieldset[disabled] .btn-teal.btn-alt,
.btn-teal.btn-alt.disabled:hover,
.btn-teal.btn-alt[disabled]:hover,
fieldset[disabled] .btn-teal.btn-alt:hover,
.btn-teal.btn-alt.disabled:focus,
.btn-teal.btn-alt[disabled]:focus,
fieldset[disabled] .btn-teal.btn-alt:focus,
.btn-teal.btn-alt.disabled:active,
.btn-teal.btn-alt[disabled]:active,
fieldset[disabled] .btn-teal.btn-alt:active,
.btn-teal.btn-alt.disabled.active,
.btn-teal.btn-alt[disabled].active,
fieldset[disabled] .btn-teal.btn-alt.active {
  background-color: transparent;
  border-color: #0682B7 !important;
  border-width: 2px;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open
{
	 background: #0682B7 !important;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open a
{
	 background: #0682B7 !important;
}

#header .navbar #top-nav .navbar-nav li a:hover, #header .navbar #top-nav .navbar-nav li a:focus
{
	 background: #0682B7 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
	border-color: #0682B7 !important;	
}

#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a.view-all:hover {
  background: #ccc !important;
}
#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a:hover {
  color: #141415;
  background: #D2ECF1 !important;
}

#header .navbar #top-nav .navbar-nav li.dropdown.open .dropdown-menu li a {
  color: #030303;
  text-align: left;
  height: auto;
  padding: 5px 10px;
  line-height: 28px;
  background-color: #fff !important;
}

.s-header {
  background: #248fbd !important;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px;
  border-bottom: 1px solid #95a5a6;
  min-height: 12px;
}

.modal .modal-content .modal-header {
  padding-left: 20px;
  padding-right: 20px;
  background: #248fbd !important;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#tabs li.current { background-color:#fff;border-top:solid 3px #248fbd !important; border-bottom: none; padding-bottom:1px; position:relative; z-index:1;}
#tabs li a:hover{  color:#ccc !important;}
#tabs li a:focus{  color:#74777b !important;}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
	color: #ccc !important;
}

#tabs li.current a:hover
{
	color: #ccc !important;
}


/* CSS Document */
/* Styles for the paging area*/
.pagingAreaStyle
{
    float:right;
    margin-top:17px;
    padding-right:13px;
}
.BodyApp
{
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color:#999999;

}

.BodyCompo
{
margin-left: 0px;
margin-left: 0px;
margin-top: 10px;
margin-bottom: 0px;
}

.dividerbottmbartop
{
width:3px;
height:27; 
background-color: transparent;
background: url("images/dividertop.png") no-repeat;
}

.topdivider
{
width:3px;
height:29px; 
background: url("images/topdivider.png") no-repeat;
}

.dividerbottmbar
{
width:3px;
height:27px; 
background-color: transparent;
background: url("images/buttns_20.png") no-repeat;
}

.navloop {
background-image: url("images/navloop.png");
background-repeat:repeat-y; 
}

.navbuttonbar {
background-image: url("images/buttonbar.png"); 
background-repeat:no-repeat;
}


.navefect {
background-image: url("images/index_27.jpg"); 
background-repeat:no-repeat;
vertical-align:bottom;
background-position:bottom;
}

.roledivider 
{
background-image: url("images/divider.png");
background-repeat:no-repeat;
}


.Textboxstyle1

{
border-width: 1px;
border-style:solid;
border-color: #7f9db9;
}

.sortasc-header
{
background:url("images/desc.png");
padding-left:20px;
padding-right:20px; 
vertical-align:middle;
right:auto; 
background-repeat:no-repeat; 
background-color:#006699;
}

.sortdesc-header 
{ 
background:url("images/asc.png");
padding-left:20px;
padding-right:20px; 
vertical-align:middle; 
right:auto; 
background-repeat:no-repeat; 
background-color:#006699;
}

.GridPadding
{
background-image: url("images/sort_none.png");
background-repeat:no-repeat; 
padding-left:26px;
padding-right:8px;
}

.SelectGridPadding
{
padding-left:8px;
padding-right:8px;
}

.Gridtablestyle,.Gridtablestyle1,.Gridtablestyle2,.Gridtablestyle3,.Gridtablestyle4,.Gridtablestyle5,.Gridtablestyle6,.UserControl_Gridtablestyle
{
background-color:#FFF;
font-family: Trebuchet MS;
font-size: 13px;
padding:2px; color: #000066;
overflow:auto;
position:relative;
}


.PromptGridtablestyle
{
background-color:#FFF;
font-family: Trebuchet MS;
font-size: 13px;
color: #01539D; margin:2px;
padding:2px;
min-width:250px;

}

.PromptBasestyle
{
background-color:#ffffff; border-style:double;
border-color:#006699;
border-width:thick;
padding:2px;
}

.Captionstyle{
font-size: 13px;
font-family:Trebuchet MS;
font-weight: bold; color: #000000;

}

.Linktext{
font-family:Trebuchet MS;
font-size:11px;
cursor:pointer;

}

.Linkboldtext{
font-family:verdana;
color: #01539D;
font-weight: bold;
font-size:11px;
cursor:pointer;

}

.loading {
background-image: url("images/loading.gif");
height: 400px;
width: 400px;
background-repeat:no-repeat;
}
#divProgressBack
{
    position:fixed !important;
    width:100% !important;
    height:100% !important;
    z-index:1000 !important;
    top:0 !important;
    left:0 !important;
    bottom:0 !important;
    right:0 !important;
    margin:auto !important;
    background-color:rgba(255, 255, 255, 0.53) !important;
    opacity:1 !important;
}
#dvProgress
{
    margin-left:40% !important;
    margin-top:10% !important;
    left:0 !important;
    top:0 !important;
}

.GridCaptionstyle{
font-size: 13px;
font-family: Trebuchet MS;
font-weight: bold; color: #01539D;
}


.HeaderTitle{
font-size: 15px;
font-family: Trebuchet MS;
font-weight: bold; color: #01539D;
}

.PromptCaptionstyle{
font-size: 13px;
font-family: Trebuchet MS;
font-weight: bold;
color: #636363; height: 24px;
margin-left:4px;
}

.moveright {
background-image: url("images/moveright.jpg"); 
cursor:pointer;
margin-bottom:2px;
}

.moveleft {
background-image: url("images/moveleft.jpg");
cursor:pointer;
margin-top:2px; 
}

.moveright2 {
background-image: url("images/moveright2.jpg"); 
cursor:pointer;
margin-top:2px;
}

.moveleft2 {
background-image: url("images/moveleft2.jpg"); 
cursor:pointer;
margin-bottom:2px;
}

.calendermoveleft {
background-image: url("images/ar_left.png");
background-color:Transparent;
background-repeat:no-repeat;
cursor:pointer; 
}

.calendermoveright {
background-image: url("images/ar_right.png"); 
background-color:Transparent;
background-repeat:no-repeat;
cursor:pointer;
}

.formtablestyle
{
font-family: Trebuchet MS;
/*font-size: 11px; (removed due to export btns cut out)*/
color: #01539D; background-color:Transparent;

}

.Appbodyloop
{
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-image: url("images/bodyloop.jpg");
background-repeat: repeat-x; background-color: #ffffff;
}

.AppMenubuttonstyle
{
background:transparent;
font-size: 13px; 
font-family: Trebuchet MS;
font-weight: bold;  color: #ffffff; 
padding:0px;
width:233px;
height:24px;
border:0px;
margin:0px;
cursor:pointer;
text-align:left;
}

.AppMenubuttonstyleHover 
{
background:transparent;
padding	:0px;
width:233px;
height:24px;
border:0px;
margin:0px;
cursor:pointer;
text-align:left;
font-size: 13px; 
font-family: Trebuchet MS;
font-weight: bold; color: #cccccc;

}

.AppMenubuttonstyleClick
{
background:transparent;
font-size: 13px; 
font-family: Trebuchet MS; 
font-weight: bold; color: #ffcc33;
padding:0px;
width:233px;
height:24px;
border:0px;
margin:0px;
cursor:pointer;
text-align:left;

}

.AppCMenutask

{

background:transparent;
font-size: 13px; 
font-family: Trebuchet MS; color: #ffffff; 
border: 0px;
padding:0px;
height:20px;
width:251px;
cursor:pointer;
text-align:left;
}

.AppCMenutaskHover

{

border: 0px;
padding:0px;
height:20px;
width:251px;
cursor:pointer;
font-size: 13px; 
font-family: Trebuchet MS; 
text-align:left; color: #cccccc;
}

.AppCMenutaskClick
{

font-size: 13px; 
font-family: Trebuchet MS; 
border: 0px; color: #cccccc;
padding:0px;
height:20px;
width:251px;
cursor:pointer;
text-align:left;


}
.MainButtonStyle{
	font-family: Trebuchet MS !important;
	font-size: 15px;
    color: #fff;
 background-color:#319984;
background-image: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e5799), color-stop(100, #7db9e8));
background-image: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	cursor: pointer;
	width:110px;
	height:19px;
	border: 1px solid #7DB9E8;
	border-radius: 10px;
	 position: relative;
  
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  box-shadow: 0 4px #7DB9E8;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
    margin-bottom:10px;
    padding-top:1px;
	text-overflow:ellipsis;
}

/*.MainButtonStyle:hover {
	box-shadow: 0 4px #4779b4  ;
	background: #7DB9E8;
	color:#fff;
    border: 1px solid #7DB9E8;
}

.MainButtonStyle:active {
	box-shadow: 0 0 #4779b4 ;
	top: 3px;
}*/
.PromptButtonStyle{
	font-family: Trebuchet MS !important;
	font-size: 15px;
    color: #fff;
 background-color:#319984;
background-image: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e5799), color-stop(100, #7db9e8));
background-image: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
background-image: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	cursor: pointer;
	width:110px;
	height:19px !important;
	border: 1px solid #7DB9E8;
	border-radius: 10px;
	 position: relative;
  overflow: hidden;
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  box-shadow: 0 4px #7DB9E8;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
    margin-bottom:10px;
    padding-top:1px;
		text-overflow:ellipsis;
}

.PromptButtonStyle:hover {
	box-shadow: 0 4px #4779b4  ;
	background: #7DB9E8;
	color:#fff;
    border: 1px solid #7DB9E8;
}

.PromptButtonStyle:active {
	box-shadow: 0 0 #4779b4 ;
	top: 3px;
}
/*.PromptButtonStyle
{
border-spacing:0px;
margin:0px;
padding:0px;
border-color:#01539D;
border-width:1px;
width:90px;
height:24px;
background-color:Transparent;
font-family:Trebuchet MS;
font-weight: bold; color: #ffffff;
font-size: 13px;
background-image: url("images/butntry.jpg");
background-repeat:repeat-x; 
cursor:pointer;
}

.PromptButtonStyle:hover 
{
background-image: url("images/butntry1.jpg");
color: #ffffff;
}*/

.Reporttablestyle
{
background-color:Transparent;
font-family: Trebuchet MS;
color: #01539D;
font-size: 12px;
background-image: url("images/reportbody.jpg");
background-repeat:repeat-x; 
}

.FindButtonclasifi
{
background-color:Transparent;
background:url("images/find.png");
cursor:pointer;
margin-right:2px;
margin-left:2px;
}

.Reporttablestyle
{
background-color:Transparent; 
font-family:Trebuchet MS;
font-size: 13px; color: #01539D;
background-image: url("images/reportbody.jpg");
background-repeat:repeat-x; 
}

.slice_0_png
{
width:10px; 
height:29px;
background: url("images/index_01.png") no-repeat;
}

.slice_1_png
{
width:10px; 
height:29px;
background: url("images/index_01.png") no-repeat;
}

.slice_2_png
{
background: url("images/index_02.png") repeat-x;
}

.slice_3_png
{
height:29px;
background: url("images/index_03.png") no-repeat;
}

.slice_4_png
{
width:22px; 
height:29px;
background: url("images/slized_04.png") no-repeat;
}
.slice_5_png
{

width:11px; 
height:10px;
background: url("images/index_05.png") no-repeat;
}

.slice_6_png
{
width:21px;
height:69px;
background: url("images/index_06.png") no-repeat;
}

.slice_7_png
{
width:21px;
height:69px;
background: url("images/index_07.png") no-repeat;
}
.slice_8_png
{
height:69px; 
background: url("images/index_08.png") repeat-x;
}
.slice_9_png
{
width:11px; 
height:15px;
background: url("images/index_09.png") no-repeat;
}
.slice_10_png
{

width:18px; 
height:64px;
background: url("images/index_10.png") no-repeat;
}
.slice_11_png
{

width:11px; 
height:9px;
background: url("images/index_11.png") no-repeat;
}
.slice_12_png
{

width:11px; 
height:8px;
background: url("images/index_12.png") no-repeat;
}
.slice_13_png
{

width:28px; 
height:9px;
background: url("images/index_13.png") no-repeat;
}
.slice_14_png
{

height:8px;
background: url("images/index_14.png") repeat-x;
}
.slice_15_png
{

width:11px; 
height:8px;
background: url("images/index_15.png") no-repeat;
}
.slice_16_png
{

width:11px; 
height:15px;
background: url("images/index_16.png") no-repeat;
}
.slice_17_png
{

width:223px; 
height:26px;
background: url("images/index_17.png") repeat-x;
}
.slice_18_png
{

width:917px; 
height:65px;
background: url("images/index_18.png") no-repeat;
}
.slice_19_png
{
width:30px; 
height:26px;
background: url("images/index_19.png") no-repeat;
}
.slice_20_png
{
height:26px;
background: url("images/index_20.png") repeat-x;
}

.slice_21_png
{
width:23px; 
height:65px;
background: url("images/index_21.png") no-repeat;
}
.slice_22_png
{

width:11px; 
background: url("images/index_22.png") repeat-y;
}
.slice_23_png
{

height:200;
background: url("images/index_23.png") repeat-x;
}
.slice_24_png
{

width:21px; 
height:28px;
background: url("images/index_24.png") no-repeat;
}
.slice_25_png
{
width:251px; 
height:20px;
background: url("images/index_25.png") no-repeat;
}
.slice_26_png
{

width:30px; 
height:26px;
background: url("images/index_26.png") no-repeat;
}
.slice_27_png
{
width:251px;
vertical-align:bottom;
background: url("images/index_27.png") repeat-y;
}
.slice_28_png
{
width:11px; 
background: url("images/index_28.png") repeat-y;
}

.slice_29_png
{
width:251px; 
height:20px;
background: url("images/index_29.png") no-repeat;
}

.slice_30_png
{

width:11px; 
height:8px;
background: url("images/index_30.png") no-repeat;
}
.slice_31_png
{

height:8px;
background: url("images/index_31.png") repeat-x;
}
.slice_32_png
{

width:23px; 
height:28px;
background: url("images/index_32.png") no-repeat;
}
.slice_33_png
{

width:11px; 
height:8px;
background: url("images/index_33.png") no-repeat;
}

.slice_34_png
{

width:701px; 
height:28px;
background: url("images/index_34.png") no-repeat;
}

.slice_35_png
{

width:5px; 
height:32px;
background: url("images/index_35.png") no-repeat;
}

.slice_36_png
{
height:32px;
background: url("images/index_36.png") repeat-x;
}

.slice_38_png
{
width:7px; 
height:32px;
background: url("images/index_38.png") no-repeat;
}

.slice_39_png
{

width:3px; 
height:25px;
background-color: transparent;
background: url("images/buttns_16.png") no-repeat;
}

.slice_40_png
{

left:auto;
background: url("images/buttns_50.png") no-repeat;
}

.ExcelXport
{
width:31px; 
height:37px;
border-style:none;
padding:none;
cursor:pointer;
background: url("images/buttns_44xl.png") no-repeat;
}

.WordXport
{
width:31px; 
height:37px;
border-style:none;
padding:none;
cursor:pointer;
background: url("images/buttns_41.png") no-repeat;
}

.printbutton
{
width:29px; 
height:27px;
border-style:none;
padding:none;
cursor:pointer;
background: url("images/buttns_17.png") no-repeat;
}

					.Hidden
		{
		border-style:none;
		padding:none;
		background:transparent;
		visibility:hidden;
		display:none;
		}
		
		

.name
{
width:115px; 
height:28px;
background: url("images/name.png") no-repeat;
}
.soliddividr
{
width:3px; 
height:25px;
background: url("images/buttns_22.png") no-repeat;
}
.soliddividr2
{
width:3px; 
height:30px;
background: url("images/buttns_30.png") no-repeat;
}
.adminicon
{
width:20px; 
height:28px;
background: url("images/buttns_03.png") no-repeat;
}

.Maintextstyle{
font-family:Verdana;
font-size:11px;	color: #ffffff; 

} 

.Textboxstyle

{
border-width: 1px;
background-color:#FFF;
border-color: #7f9db9;
border-style: solid; color: #01539D;
font-family: Trebuchet MS;
font-size: 13px;
}

.Labelstyle

{
border-width: 1px;
background-color:#fdf2ae;
border-color: #898989; color: #383838;
border-style: solid;
font-family: Trebuchet MS;
font-size: 12px;
padding-bottom:2px;
padding-left:6px;
padding-right:6px;
vertical-align:middle;
text-align:center;
}

.Dropdownboxstyle 
{
border-width: 1px;border-color: #7f9db9;
border-style: solid; color: #01539D;
font-family: Trebuchet MS;
height:22px;
font-size: 13px;
}

.Errormessagetextstyle {
color: #e50505;
font-family: Trebuchet MS;
font-size: 13px;
font-style:normal;
font-weight: bold;
}

.Checkboxstyle {
color: #01539D;
font-family: Trebuchet MS;
font-size: 13px;
margin-left: -4px;
padding-left:-4px;
}

.Commenstyle {
font-family: Trebuchet MS;
/*font-size: 12px;due to grid export images height being cut*/ 
}


/*Modal Popup*/
.modalBackground 
{
background-color:Gray;
filter:alpha(opacity=50);
opacity:0.5;
}

.modalPopup {
background-color:#ffffdd;
border-width:3px;
border-style:solid;
border-color:Gray;
padding:3px;
width:250px;
}


.popupControl
{
background-color: White;
position: absolute;
visibility: hidden;
}

.dragHandle
{
height: 5px;
background-color: #006699;
cursor: move;
border: outset thin white;
}

.DragHandleCaptionstyle
{
font-size: 11px;
font-family: Tahoma;
font-weight: bold;
color: White; /*#636363;*/
height: 24px;
margin-left: 4px;
}

#Layer1 {
position:absolute;
right:0px;
top:0px;
width:22px;
height:22px;
z-index:1;
}

.ValueTextboxstyle

{
border-width: 1px;
background-color:#FFF;
border-color: #7f9db9;
font-family:Trebuchet MS;
text-align:right;
border-style: solid; color: #01539D;
font-size: 13px;
}

.search
{
background-color:Transparent;
background:url("images/search.jpg");
cursor:pointer;
}

.grid_remove

{
background-color:Transparent;
background-image: url("images/remove.jpg");
background-repeat:no-repeat;
cursor:pointer;
}

.Dview

{
width:18px; 
height:18px;
background: url("images/360.jpg") no-repeat;
cursor:pointer;
}

.reportselect
{
width:10px; 
height:10px;
background: url("images/select.jpg") no-repeat;
cursor:pointer;
}

.RPTMaintextstyle
{

font-family:Tahoma;
font-size:11px;
color: #000000;

}

.RPTMainnumberstyle
{

font-family:Tahoma;
font-size:11px;
color: #000000;
text-align:right;

}

.RPTBoldtextstyle
{

font-family:Arial;
font-size:12px;
font-weight: bold;
color: #000000;

}

.RPTBoldtitltext
{

font-family:Arial;
font-size:16px;
font-weight: bold;
color: #000000;
text-align:center;

}

.RPTBoldtitlsmall
{

font-family:Arial;
font-size:12px;
font-weight: bold;
color: #000000;
text-align:center;

}

.mvedwn
{
width:30px; 
height:30px;
background: url("images/mvedwn.png") no-repeat;
cursor:pointer;
}

.mveup
{
width:30px; 
height:30px;
background: url("images/mveup.png") no-repeat;
cursor:pointer;
}

.calender
{
width:20px;
height:17px; 
background-color: transparent;
background: url("images/calender.png") no-repeat;
}

/*.skipfwrdright
{
width:22px;
height:20px;
cursor:pointer; 
background: url("images/skipfwrd.png") no-repeat;
}

.skipfwrdleft
{
width:22px;
height:20px;
cursor:pointer; 
background: url("images/skipfwrdleft.png") no-repeat;

}

.fwrdright
{
width:22px;
height:20px;
cursor:pointer; 
background: url("images/fwrdright.png") no-repeat;
}

.fwrdleft
{
width:22px;
height:20px;
cursor:pointer; 
background: url("images/fwrdleft.png") no-repeat;
}*/

.InactivTxtboxstyle
{
border-width: 1px;
background-color:#f1f1f1;
border-color: #999999;
border-style: solid; color: #01539D;
font-family: Trebuchet MS;
font-size: 13px;
}

.NumberInactivTxtbox
{
border-width: 1px;
background-color:#f1f1f1;
border-color: #999999;
border-style: solid;
font-family: Trebuchet MS;
text-align:right; color: #01539D;
font-size: 13px;
}

.paginggridpnl
{
height :auto ; 
}

.scrollgridpnl
{
max-height:300px;
width:102%;
overflow:auto; 
}


.headeradding
{
margin-left:2.7px;
margin-right:2.7px;
}



.listicon
{
width:20px;
height:19px; 
background-color: transparent;
background: url("images/list.png") no-repeat;
}

.save
{
width:23px;
height:22px;
cursor:pointer; 
background-color: transparent;
background: url("images/save.png") no-repeat;
}

.browse
{
width:27px;
height:20px;
cursor:pointer; 
background-color: transparent;
background: url("images/browse.png") no-repeat;
}

.DivScroll 
{
overflow:auto;
left: 0px;
top: 0px;
min-height:40px;
height:auto!important;
height:40px;
}

.DivScroll2 
{
height:320px;
height:auto!important;
max-height:320px;
}

.reportback {
background-image: url("images/repback.png");
background-color: transparent;
background-repeat:no-repeat;
width:22px;
height:22px;
cursor:pointer; 
border:none;
cursor:pointer; 
}

.FindButton
{
border-style:none;
border-width:0px;
width:20px;
height:16px;
background-color:Transparent;
background:url("images/find.png");
cursor:pointer;
}

.findpadding
{
margin-left:2.2px;
margin-right:2.2px;
}

        .addico
        {
            width: 22px;
            height: 22px;
            border-style: none;
            padding: none;
            cursor: pointer;
            background: url("images/addico.png") no-repeat;
        }
        .removeico
        {
            width: 22px;
            height: 22px;
            border-style: none;
            padding: none;
            cursor: pointer;
            background: url("images/removeico.png") no-repeat;
        }
        .deleteico
        {
            width: 22px;
            height: 22px;
            border-style: none;
            padding: none;
            cursor: pointer;
            background: url("images/deleteico.png") no-repeat;
        }
        .checkico
        {
            width: 22px;
            height: 22px;
            border-style: none;
            padding: none;
            cursor: pointer;
            background: url("images/checkico.png") no-repeat;
        }

.verticaltext
{
      vertical-align: top;
      text-align: left;
      writing-mode: tb-rl;
      font-family: Arial;
	font-weight:bold;
      font-size: 10pt;
}

.PromptGridScroll
{
	overflow:auto;
	position:relative;
	left: 0px;
	top: 0px;
	z-index: 1;
	min-height:40px;
	max-height:200px;
}


/*styles for the gridexportcontroller */ 

.grdexcelxport
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 4px 2px 2px;
cursor:pointer;
background: url("images/excel-2-icon.png") no-repeat;
}

.grdwordxport
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 4px 2px 2px;
cursor:pointer;
background: url("images/word-2-icon.png") no-repeat;
}

.grdpdfxport
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 2px 2px 2px;
cursor:pointer;
background: url("images/pdf-2-icon.png") no-repeat;
}

.xportbtn
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 2px 2px 2px;
cursor:pointer;
background: url("images/export-iconbtn.png") no-repeat;
}

.exptPagingEnabled
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 2px 2px 2px;
cursor:pointer;
background: url("images/paging_disabled.png") no-repeat;
}
.exptPagingDisabled
{
width:16px;
height:16px;
text-decoration: none;
padding: 0px 8px;
border-style:none;
margin: 8px 2px 2px 2px;
cursor:pointer;
background: url("images/paging_enabled.png") no-repeat;
}

.optionsbtn
{
    text-decoration: none;
    color:#48589D;
}

.grdHeader
{
    text-decoration: none;
    color:#48589D;
    font-family:Verdana;
    font-weight:bold;
    font-size:11px;
    cursor:pointer;
}
/*gridview scroll styles*/

.GridviewScrollHeader TH, .GridviewScrollHeader TD 
{ 
    padding: 5px; 
    padding-left:20px;
    font-weight: bold; 
    white-space: nowrap; 
    border-right: 1px solid #AAAAAA; 
    border-bottom: 1px solid #AAAAAA; 
    background-color: #006699; 
    text-align: left; 
    vertical-align: bottom; 
    color:#ffffff;
} 
.GridviewScrollHeader a
{ 

    color:#ffffff;
} 
.GridviewScrollItem TD 
{ 
    padding: 5px; 
    padding-left:20px;
    white-space: nowrap; 
    border-right: 1px solid #AAAAAA; 
    border-bottom: 1px solid #AAAAAA; 
   /* color:#000066; */
    /* background-color: #FFFFFF; */ 
} 
.GridviewScrollPager  
{ 
    /*border-top: 1px solid #AAAAAA;*/ 
    background-color: #FFFFFF; 
} 
.GridviewScrollSelected
{
     background-color: #669999; 
     color:#ffffff;
}
.GridviewScrollSelected TD 
{ 
   padding: 5px; 
    padding-left:20px;
    white-space: nowrap; 
    border-right: 1px solid #AAAAAA; 
    border-bottom: 1px solid #AAAAAA; 
    background-color: #669999; 
} 
.GridviewScrollPager TD 
{ 
    padding-top: 3px; 
    font-size: 14px; 
    padding-left: 5px; 
    padding-right: 5px; 
} 
.GridviewScrollPager A 
{ 
    color: gray; /* pager text color styles */ 
}
.GridviewScrollPager SPAN
{
    font-size: 16px;
    font-weight: bold;
}


#sidebar .sidebar-inner ul#sideNav li ul.sub li a
{
	font-size:13px;
	
}
#sidebar .sidebar-inner ul#sideNav li a
{
	font-size:14px !important;
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a input
{
	font-size:13px;
	
}
#sidebar .sidebar-inner ul#sideNav li ul.sub li a span
{
	font-size:13px;
	
}
#right-sidebar .sidebar-inner ul#sideNav li a
{
	font-size:14px;
}
#content .content-wrapper #page-heading #crumb li > span
{
	font-size:14px;
}
.tabs-style-topline nav a span
{
	font-size:10px;
}
/**######################### New things for V3 ###########################*/
td,
th {
  padding-bottom: 2px;
  
}

/*input[type="text"][readonly] {
    background-color: rgba(170, 170, 170, 0.19);
    border: solid 1px #7F9DB9;
    opacity:0.7;
}
input[type="textarea"][readonly] {
    background-color: rgba(170, 170, 170, 0.19);
    border: solid 1px #7F9DB9;
    opacity:0.7;
}*/
.linkButton{cursor: pointer;}


.DataTableStyle
{
background-color:#FFF;
font-family: Trebuchet MS;
font-size: 13px;
padding:2px; color: #000066;
overflow:auto;
position:relative;
border-collapse: collapse;

}

table.DataTableStyle td,th {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    border: 1px solid #AAAAAA;

}

table.DataTableStyle th {
    background-color:#006699;
    color:#ffffff;
}

table.DataTableStyle th a {
    color:#ffffff;
}

.DataTableContainer{
    /*max-height:385px; V2030 (for header freezing) commented*/
    max-height:440px; /*V2030 Added (for header freezing)*/
    overflow-y:auto;
    overflow-x:auto;
    display: inline-block;
}

/*V2030(for header freezing) adding start*/
.HeaderFreezeStyle > tbody {
    display: block;
    max-height: 340px;
    overflow: auto;
    overflow-y: scroll;
}

    .HeaderFreezeStyle > thead, .HeaderFreezeStyle > tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.HeaderFreezeStyle th, .HeaderFreezeStyle td {
    word-wrap: break-word;
}

.HeaderFreezeStyle > thead {
    width: calc( 100% - 1.2em);
}

.HeaderFreezeStyle {
    width: 98%;
}

.DataTableContainer {
    max-width: 99% !important;
}

table.DataTableStyle th a {
    white-space: unset !important;
}
/*V2030 (for header freezing) adding end*/

.pagination {
    display:inline ;
    padding-left: 0 ;
    margin:0px;
    border-radius: 4px;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 3px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #006699;
    text-decoration: none;
    background-color: #fafbff;
    border:0px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #006699;
    border-color: #006699;
}

.modal .modal-content .modal-header {
  padding-left: 20px;
  padding-right: 20px;
  background: #006699 !important;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/*V2024*/
.skipfwrdright {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid gray;
    background: linear-gradient(#DDDDDC, #FFFFFF, #DDDDDC);
	cursor:pointer;
    color: black;
}
.skipfwrdright:after {
    font-family: FontAwesome;
    content: '\f050';
}

.skipfwrdleft {
    -moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid gray;
    background: linear-gradient(#DDDDDC, #FFFFFF, #DDDDDC);
	cursor:pointer;
    color: black;
}
.skipfwrdleft:after
{
    font-family: FontAwesome;
    content: '\f049';
    
}

.fwrdright {
     -moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid gray;
    background: linear-gradient(#DDDDDC, #FFFFFF, #DDDDDC);
	cursor:pointer;
    color: black;
}

.fwrdright:after
{
    font-family: FontAwesome;
    content: '\f051';
}
.fwrdleft{
      -moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid gray;
    background: linear-gradient(#DDDDDC, #FFFFFF, #DDDDDC);
	cursor:pointer;
    color: black;
}

.fwrdleft:after
{
    font-family: FontAwesome;
    content: '\f048';

}
/*V2024*/

.PromptDataTableContainer{
    max-height:300px;
    overflow-y:auto;
    overflow-x:auto;
}

.PromptDataTableStyle
{
    background-color:#FFF;
    font-family: Trebuchet MS;
    font-size: 13px;
    padding:2px; color: #000066;
    overflow:auto;
    position:relative;
    border-collapse: collapse;
    width:100%;
}

table.PromptDataTableStyle td,th {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    border: 1px solid #AAAAAA;
}

table.PromptDataTableStyle th {
    background-color:#006699;
    color:#ffffff;
}

table.PromptDataTableStyle th a {
    color:#ffffff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /* color: #555; */
    cursor: default;
    background-color: #fff;
    /* border: 1px solid rgba(255,255,255,.15); */
    border-bottom-color: transparent;
    border-top: 3px solid;
    border-top-color: orange;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    border-top: 3px solid;
    border-top-color: orange;
}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    /* border: 1px solid transparent; */
    border-radius: 4px 4px 0 0;
}

.tabLink {
    border: 1px solid #c2bbe0;
    margin-top: 10px;
    font-size: 11px;
    position: relative;
    display: block;
    padding: 3px 5px !important;
    background: linear-gradient(rgba(255,255,255,.15), #d6d0ea);
}

.tab-content{
    padding:10px;
    border:1px solid darkgrey;
}


      .MainButtonStyle[disabled] {
            background-color: #BFBFBF !important;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #969696), color-stop(100, rgb(224, 224, 224)));
           background-image: -ms-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -moz-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -o-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: -webkit-linear-gradient(top, #969696 0%, rgb(224, 224, 224) 100%);
background-image: linear-gradient(to bottom, #969696 0%, rgb(224, 224, 224) 100%);
			box-shadow: 0 4px rgba(147, 149, 150, 0.69);
            border: none;
			
        }
.MainButtonStyle:hover:enabled  {
	box-shadow: 0 4px #4779b4  ;
	background: #7DB9E8;
	color:#fff;
    border: 1px solid #7DB9E8;
}

.MainButtonStyle:active :enabled {
	box-shadow: 0 0 #4779b4 ;
	top: 3px;
}
body {
  
  margin-top:8px;
}

/**ate picker costomize*/
.dropdown-menu {
    font-size: 12px;
    padding:0px;
    margin:0px;
}

.datepicker {
    /*padding:0px;removed - date controller*/
    padding:8px;/*added date controller*/
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
   padding-top:0px;
   padding-bottom:0px;
   padding-left: 2px;
   padding-right:2px;
}

.datepicker td, .datepicker th {
    width: 17px;
    height: 17px;
}

.datepicker table tr td span {
    width: 22%;
    height: 36px;
    line-height: 38px;
}

/*V2027*/
.zoomImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

            .zoomImg:hover {
                opacity: 0.7;
            }

        /* The Modal (background) */
        .imageModal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .imageModalContent {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #imageCaption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .imageModalContent, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* The Close Button */
        .imageClose {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .imageClose:hover,
            .imageClose:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .imageModalContent {
                width: 100%;
            }
        }
   
        .selectedRow {
            background-color: #669999;
        }

        .orange{
            color:orange;
        }
        .red{
            color:red;
        }

        .taskLoad {
            width: 50px;
            height: 50px;
            margin-left: 45%;
            margin-top: 20%;
            background: url("../../images/task_loading.gif");
            background-size: 50px 50px;
        }
/*V2027*/

/*V2030 - list prompt styles start*/
table.tableStyles th a {
    color: white !important;
}

.tableStyles span.glyphicon {
    font-size: 11px;
}
/*V2030 - list prompt styles end*/

/*V2033Adding translator sytels start*/
#translatorOuterDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #96969669;
    z-index:20000;
}

#translatorInnerDiv {
    position: absolute;
    top: 28%;
    left: 34%;
    background: white;
    padding: 20px 20px 14px 20px;
    border-radius: 15px;
}

div#translatorInnerDiv input {
    margin-bottom: 8px;
    width: 380px;
}

#translatorHeaderCaption {
    margin-bottom: 10px;
}

.translatorBtnWrapper #btnCancel {
    margin-left: 10px;
    margin-top:7px;
}
.translatorBtnWrapper #btnDefault {
    margin-left: 10px;
}

#translatorNotPermittedDiv {
    position: fixed;
    top: 4%;
    right: 2%;
    padding: 13px;
    background-color:white;
    border: #7DB9E8 2px solid;
    border-radius: 20px;
}
/*V2033Adding translator sytels end*/

/*V2040Adding Toast Message Validation Start*/
.ToastValidationMessage-Right {
    position: relative;
}

.ToastValidationMessage-Left {
    position: relative;
}

.ToastValidationMessage-Right > span {
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    background: white;
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 16px;
    z-index: 2;
    left: 20%;
    top: 0%;
    color: red;
}

.ToastValidationMessage-Left > span {
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    background: white;
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 16px;
    z-index: 2;
    right: 20%;
    top: 0%;
    color: red;
}

.DataTableStyle tr:last-child .ToastValidationMessage-Right > span {
    left: 100%;
    bottom: 0%;
    top: auto;
}

.DataTableStyle tr:last-child .ToastValidationMessage-Left > span {
    right: 100%;
    bottom: 0%;
    top: auto;
}
/*V2040Adding Toast Message Validation End*/