<div [ngBusy]="busy"></div>
<xont-ventura-message-prompt #msgPrompt></xont-ventura-message-prompt>

<xont-ventura-collapsible id="collapseID" targetElementID="selectionCriteriaID"  collapsedText="Selection Criteria" expandedText="Hide"
                          [collapsed]="selectionCriteria.Collapsed" 
                           (onChange)="selectionCriteria.Collapsed=!selectionCriteria.Collapsed">

</xont-ventura-collapsible>

    <div id="selectionCriteriaID" class="collapse"  >
        <table>
            <tbody>
                <tr>
                    <td width="140">
                        <span id="lblReturnType" class="Captionstyle">Return Type</span>
                    </td>
                    <td width="120">
                        <input [(ngModel)]="selectionCriteria.RetnType" type="text" id="txtReturnType" class="Textboxstyle" name="txtReturnType"
                                style="width:120px" maxlength="2" #txtReturnt="ngModel" pattern="^[a-zA-Z0-9_\-]+$" onkeypress="return blockCharacters(event, ['&#34;', '#',' ', ';', '\'','&', '&quot;'])"/> 
                    </td>
                    <td width="10"></td>
                    <td width="120">
                        <span id="lblDesc" class="Captionstyle">Description</span>
                    </td>
                    <td width="280">
                        <input [(ngModel)]="selectionCriteria.Description" type="text" id="txtDescription" class="Textboxstyle" name="txtDescription"
                                style="width:305px" maxlength="40" #txtDescription="ngModel" pattern="^[^;‘‘’#&quot;'&amp;]*$" onkeypress="return blockCharacters(event, ['&#34;', '#', ';', '\'', '&', '&quot;'])"/>
                    </td>
                    <td width="200">
                        &nbsp;
                        <span [hidden]="!txtReturnt.errors || !txtReturnt.errors.pattern " class="Errormessagetextstyle">Invalid entry</span>
                        <span [hidden]="!txtDescription.errors || !txtDescription.errors.pattern " class="Errormessagetextstyle">Invalid entry</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td width="140">
                        <span id="lblTerritoryCode" class="Captionstyle">Module Code</span>
                    </td>
                    <td>
                        <xont-ventura-list-prompt name="lpmtModule" id="lpmtModule"
                                                  #lpmtModule
                                                  [maxLengths]="[4,50]"
                                                  [inputWidths]="[120,405]"
                                                  [gridHeaders]="['Module Code','Description']"
                                                  [gridFields]="['Module Code','Description']"
                                                  [strict]="false"
                                                  (onDataBind)="lpmtModule_DataBind()"
                                                  [(ngModel)]="selectionCriteria"
                                                  [modelProps]="['ModuleCode','ModuleCodeDesc']"
                                                  [dataFields]="['Module Code','Description']">
                        </xont-ventura-list-prompt>

                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr>
                    <td width="140"></td>
                    <td>
                        <span class="Checkboxstyle">
                            <input id="chkActive" type="checkbox"
                                   [checked]="selectionCriteria.Status" (change)="selectionCriteria.Status=!selectionCriteria.Status">
                            <label class="Captionstyle" style="color:darkblue;">Acvtive Only</label>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <button type="submit" name="btnList" [disabled]="txtReturnt.errors || txtDescription.errors" (click)="list(true)" id="btnList" class="MainButtonStyle">List</button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--</form>-->
    <div><xont-ventura-gridexport [id]="export1" gridId="tblReturn" [gridName]="'Return Type'"></xont-ventura-gridexport></div>
    <span class="Labelstyle" [hidden]="returnType?.length != 0" >No data found for the given criteria</span>
    <div class="DataTableContainer"  >
        <table id="tblReturn" [hidden]="returnType?.length == 0" [mfData]="returnType" #mf="mfDataTable" class="DataTableStyle HeaderFreezeStyle"
               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            
            <thead >
                
                <tr>

                    <th style="width:21%;" >
                        <mfDefaultSorter by="ReturnType">Return Type</mfDefaultSorter>
                    </th>
                    <th style="width:43%;" >
                        <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                    </th>
                    <th style="width:16%;" >
                        <mfDefaultSorter by="ModuleCode">ModuleCode</mfDefaultSorter>
                    </th>
                    <th style="width:20%;" >
                        Options
                    </th>
                </tr>
            </thead>
            <tbody >
               
                <tr *ngFor="let item of mf.data" [ngClass]="{'InactiveGridRowStyle':item.Status == '0'}"  >

                    <td style="width:21%;"><div>{{item.ReturnType}}</div></td>
                    <td style="width:43%;">{{item.Description}}</td>
                    <td style="width:16%;">{{item.ModuleCode}}</td>
                    <td style="width:20%;">
                        <a class="linkButton" (click)="btnNewBased_onClick(item)">NewBasedOn</a>&nbsp;|&nbsp;
                        <a class="linkButton" (click)="btnEdit_onClick(item)">Edit</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    
                        <span style="float:right">
                            <xont-ventura-gridloader #gridLoader  (onChange)="gridLoader_OnChange()"></xont-ventura-gridloader>
                           
                        </span>
                        
                    </td>
                </tr>
            </tfoot>
        </table>
        
    </div>
<div>
    <br />
    <button (click)="newClick()" class="MainButtonStyle">New</button>
    <button onclick="closeTab()" class="MainButtonStyle">Exit</button>
</div>

