<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ErrorMail" value="ishan.p@xontworld.com"/>
    <add key="ErrorMailFrom" value="ishan.p@xontworld.com"/>
    <add key="SMTP" value="mail@xontworld.com"/>
    <add key="Path" value=""/>
    <add key="ClientDateFormat" value="dd/MM/yyyy"/>
    <add key="TextFilePath" value="D:\Rework\VENTURA\REF_COMPONENTS"/>
    <add key="VRTRN18_SystemID" value="JDE" />
    <add key="SOMNT24_SystemID" value="JDE" />
    <add key="PDFPath" value="D:\Rework\VENTURA\REF_COMPONENTS" />
    <add key="PDFURL" value="http://192.168.1.33:9001/VenturaSNWA_QC/PDF" />
    <add key="FromMail" value="crmnotifications@xontworld.com" />
    <add key="FromMailPassword" value="KeSp7tHetrAf"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaUserGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaSystemGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaUserCOMMON_V2;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaSystemGWRX_LIVE;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=.;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="SAPDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="UserDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaSystemHSCJ_DEV;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123"
       providerName="System.Data.SqlClient"/>
 </connectionStrings>-->
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV3_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaSystemV3_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="StaticDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="ReportDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHELL_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
  
   <connectionStrings>

    <add name="UserDB" connectionString="Data Source=192.168.1.3;Initial Catalog=XONTActuraUserA;User ID=A1;Password=a1@123" providerName="System.Data.SqlClient" />
    <add name="SystemDB" connectionString="Data Source=192.168.1.3;Initial Catalog=XONTActuraSystemA;User ID=A1;Password=a1@123" providerName="System.Data.SqlClient" />
    <add name="SAPDB" connectionString="Data Source=192.168.1.3;Initial Catalog=XONTActuraUserA;User ID=A1;Password=a1@123" providerName="System.Data.SqlClient" />
    <add name="StaticDB" connectionString="Data Source=192.168.1.3;Initial Catalog=XONTActuraUserA;User ID=A1;Password=a1@123" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--<connectionStrings>
    <add name="UserDB" connectionString="Data Source=Chamod;Initial Catalog=XONTVenturaUserSNWA_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SystemDB" connectionString="Data Source=Chamod;Initial Catalog=XONTVenturaSystemSNWA_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    --><!--<add name="StaticDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaStatic;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="ReportDB" connectionString="Data Source=SQL-2014;Initial Catalog=XONTVenturaUserV2_TEST;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>
    <add name="SecurityTutorialsConnectionString" connectionString="Data Source=192.168.1.19;Initial Catalog=XONTVenturaUserHELL_DEV;User ID=sa;Password=xont@123" providerName="System.Data.SqlClient"/>--><!--
  </connectionStrings>-->

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.6:6666/CommonService" binding="wsHttpBinding" bindingConfiguration="CommonService"
        contract="ServiceReferenceRef.ICommonService" name="CommonService"/>
    </client>
  </system.serviceModel>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
          preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  

  </system.webServer>
</configuration>